body {
  background-color: antiquewhite;
  max-width: 960px;
  margin: auto;
}
h1 {
  text-align: center;
}
h1, h2 {
  color: blue;
}
p, li {
  font-size: 16px;
}
.razdelek {
  background-color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}